langchain
langchain_huggingface
urllib3
PyMuPDF
python-dotenv
unstructured
extract-msg
tabulate
pandoc
pypandoc
tqdm
sentence_transformers
langchain-community 
tiktoken 
langchainhub
pymupdf
streamlit
langchain
llama-index 
langchain-experimental
faiss-cpu